In [4]:
%reload_ext sql

In [5]:
%sql ibm_db_sa://xsh76550:c44xvg+20jlphr9b@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB

'Connected: xsh76550@BLUDB'

In [6]:
#Problem 1: Find the total number of crimes recorded in the CRIME table.

%sql select count(*) from CHICAGO_CRIME_DATA

 * ibm_db_sa://xsh76550:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('533'),)]

In [7]:
#Problem 2: List community areas with per capita income less than 11000.

%sql select COMMUNITY_AREA_NAME from CENSUS_DATA where PER_CAPITA_INCOME < 11000;

 * ibm_db_sa://xsh76550:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]

In [8]:
#Problem 3: List all case numbers for crimes involving minors?

%sql select CASE_NUMBER from CHICAGO_CRIME_DATA where DESCRIPTION LIKE '%MINOR%';

 * ibm_db_sa://xsh76550:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[('HL266884',), ('HK238408',)]

In [9]:
#Problem 4: List all kidnapping crimes involving a child?

%sql select * from CHICAGO_CRIME_DATA where DESCRIPTION LIKE '%CHILD%' and PRIMARY_TYPE LIKE '%KIDNAPPING%';

 * ibm_db_sa://xsh76550:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[(5276766, 'HN144152', datetime.date(2007, 1, 26), '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 'FALSE', 'FALSE', 1533, 15, 29, 25, '20', 1143050, 1897546, 2007, Decimal('41.87490841'), Decimal('-87.75024931'), '(41.874908413, -87.750249307)')]

In [10]:
#Problem 5: What kind of crimes were recorded at schools?

%sql select PRIMARY_TYPE from CHICAGO_CRIME_DATA where LOCATION_DESCRIPTION LIKE '%SCHOOL%';

 * ibm_db_sa://xsh76550:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[('BATTERY',),
 ('BATTERY',),
 ('BATTERY',),
 ('BATTERY',),
 ('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('NARCOTICS',),
 ('ASSAULT',),
 ('CRIMINAL TRESPASS',),
 ('PUBLIC PEACE VIOLATION',),
 ('PUBLIC PEACE VIOLATION',)]

In [15]:
#Problem 6: List the average safety score for all types of schools.

%sql select "Elementary, Middle, or High School", AVG(Safety_score) AS average_safetyscore from CHICAGO_PUBLIC_SCHOOLS GROUP BY "Elementary, Middle, or High School";

 * ibm_db_sa://xsh76550:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[('ES', Decimal('49.520383')),
 ('HS', Decimal('49.623529')),
 ('MS', Decimal('48.000000'))]

In [25]:
#Problem 7: List 5 community areas with highest % of households below poverty line.

%sql select COMMUNITY_AREA_NAME from CENSUS_DATA ORDER BY "PERCENT_HOUSEHOLDS_BELOW_POVERTY" desc LIMIt 5;

 * ibm_db_sa://xsh76550:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[('Riverdale',),
 ('Fuller Park',),
 ('Englewood',),
 ('North Lawndale',),
 ('East Garfield Park',)]

In [29]:
#Problem 8: Which community area(number) is most crime prone?

%sql select COMMUNITY_AREA_NUMBER, COUNT(*) FROM CHICAGO_CRIME_DATA GROUP BY COMMUNITY_AREA_NUMBER HAVING COUNT(*) > 1;

 * ibm_db_sa://xsh76550:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[(1, Decimal('6')),
 (2, Decimal('7')),
 (3, Decimal('4')),
 (4, Decimal('3')),
 (5, Decimal('4')),
 (6, Decimal('11')),
 (7, Decimal('5')),
 (8, Decimal('15')),
 (10, Decimal('3')),
 (11, Decimal('2')),
 (14, Decimal('5')),
 (15, Decimal('5')),
 (16, Decimal('8')),
 (17, Decimal('3')),
 (18, Decimal('2')),
 (19, Decimal('8')),
 (20, Decimal('3')),
 (21, Decimal('6')),
 (22, Decimal('9')),
 (23, Decimal('22')),
 (24, Decimal('13')),
 (25, Decimal('43')),
 (26, Decimal('10')),
 (27, Decimal('8')),
 (28, Decimal('16')),
 (29, Decimal('16')),
 (30, Decimal('8')),
 (31, Decimal('9')),
 (32, Decimal('7')),
 (35, Decimal('5')),
 (37, Decimal('2')),
 (38, Decimal('8')),
 (39, Decimal('4')),
 (41, Decimal('2')),
 (42, Decimal('8')),
 (43, Decimal('9')),
 (44, Decimal('8')),
 (45, Decimal('4')),
 (46, Decimal('9')),
 (48, Decimal('5')),
 (49, Decimal('11')),
 (50, Decimal('3')),
 (51, Decimal('4')),
 (52, Decimal('2')),
 (53, Decimal('6')),
 (54, Decimal('2')),
 (56, Decimal('2')),
 (58, Decimal('10')),
 (59, Decimal('2')),
 (61, Decimal('10')),
 (62, Decimal('4')),
 (63, Decimal('7')),
 (64, Decimal('2')),
 (65, Decimal('3')),
 (66, Decimal('12')),
 (67, Decimal('12')),
 (68, Decimal('21')),
 (69, Decimal('11')),
 (70, Decimal('8')),
 (71, Decimal('14')),
 (72, Decimal('4')),
 (73, Decimal('3')),
 (76, Decimal('4')),
 (77, Decimal('2')),
 (None, Decimal('43'))]

In [42]:
#Problem 9: Use a sub-query to find the name of the community area with highest hardship index.

%sql select COMMUNITY_AREA_NAME, HARDSHIP_INDEX from CENSUS_DATA where HARDSHIP_INDEX = (SELECT MAX(HARDSHIP_INDEX) FROM CENSUS_DATA);

 * ibm_db_sa://xsh76550:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[('Riverdale', 98)]

In [52]:
#Problem 10: Use a sub-query to determine the Community Area Name with most number of crimes?

%sql select COMMUNITY_AREA_NAME from CENSUS_DATA where COMMUNITY_AREA_NUMBER = 25;

 * ibm_db_sa://xsh76550:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[('Austin',)]